<h2>Login</h2>
<br />
<br />

    @using (Html.BeginForm("ShowMeeting", "Meetings")) {
    <div>
        Enter your name: @Html.TextBox("alias")
    </div>
        
    <div>
        <input type="submit" value="Submit" />
    </div>
     }

